
Pluralsight/TDD/DeskBooker.Core.Tests/.vs/*
Pluralsight/TDD/DeskBooker.Core/DeskBooker.Core/bin/*
Pluralsight/TDD/DeskBooker.Core/DeskBooker.Core/obj/*

Pluralsight/TDD/DeskBooker.Core.Tests/.vs/*
Pluralsight/TDD/DeskBooker.Core.Tests/DeskBooker.Core.Tests/bin/*
Pluralsight/TDD/DeskBooker.Core.Tests/DeskBooker.Core.Tests/obj/*

Pluralsight/Autofixture-Intro/.vs/*
Pluralsight/Autofixture-Intro/DemoCode/bin/*
Pluralsight/Autofixture-Intro/DemoCode/obj/*
Pluralsight/Autofixture-Intro/DemoCode.Tests/bin/*
Pluralsight/Autofixture-Intro/DemoCode.Tests/obj/*

